2025-08/n8n_Download/20-LINE智能客服基礎操作.json
{
  "name": "20-LINE智能客服基礎操作",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-message",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d7db1c24-5600-4102-957b-1617811ea249",
      "name": "Webhook",
      "webhookId": "68e1943c-0182-4f90-80a4-c4ac9629a210"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aff3c4e2-8d7c-4773-8f2a-426921dfdce7",
              "leftValue": "={{ $json.body.events[0].message.type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "be56b951-d4fb-46b1-9881-9ade2fbba2e2",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Conntent-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer OEnPAylHFGIRm5Sjqr5sHdE4ZgoIXGWPZl9ym58lI9t7IhJRtCqvE9GWrBl1jWvWEracx9Zbl+enH6VeyeYK0BUnGrEr184fBlb2p7to1Ezq73fyjH5zVRAP+GaZPdzls+34Oqd0fEyIBB0/cl1sgQdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={  \"replyToken\": \"{{ $('If').item.json.body.events[0].replyToken }}\",  \"messages\": [ { \"type\": \"text\", \"text\": \"{{ $json.output.replace(/\\n/g, '\\\\\\\\n') }}\" } ] }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        -288
      ],
      "id": "4ab3fff5-7961-4221-bdcb-0ceb9c2ddeb7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.events[0].message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        480,
        -288
      ],
      "id": "be1a8409-ce81-4795-b056-0a499cec92f9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        -112
      ],
      "id": "65c0f7ee-0446-45ac-a3d9-09bfca2997fe",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fnnSTuKbGAV1KjpM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Conntent-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer OEnPAylHFGIRm5Sjqr5sHdE4ZgoIXGWPZl9ym58lI9t7IhJRtCqvE9GWrBl1jWvWEracx9Zbl+enH6VeyeYK0BUnGrEr184fBlb2p7to1Ezq73fyjH5zVRAP+GaZPdzls+34Oqd0fEyIBB0/cl1sgQdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={  \"replyToken\": \"{{ $json.body.events[0].replyToken }}\",  \"messages\": [ { \"type\": \"text\", \"text\": \"目前無法處理非文字的內容\" } ] }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        80
      ],
      "id": "b1d4c40b-d178-46ba-ab96-947923ab07a7",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72aedcce-dc68-4d78-84f7-1b5e759ec4b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbf823aa6de058f8fa2eaa8d2000f0e21425326b9be7801808ee5002ddb72b94"
  },
  "id": "034o7cC3MN8H1UTk",
  "tags": []
}