2025-08/Yahoo股利監控.json
{
  "name": "Yahoo股利監控",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2128,
        0
      ],
      "id": "da69ce9c-ccc3-4255-b726-917c618821c2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://tw.stock.yahoo.com/quote/00900.TW/dividend",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120 Safari/537.36"
            },
            {
              "name": "Accept-Language",
              "value": "zh-TW,zh;q=0.9,en;q=0.8"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1936,
        -176
      ],
      "id": "e941271b-43c6-45b2-abbe-dae8035ab949",
      "name": "00900",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// 取回 HTML 字串（不同版本可能在 data 或 body）\nconst html = (typeof $json === 'string') ? $json : ($json.data || $json.body || '');\nconst symbol = '00900.TW';\nconst url = 'https://tw.stock.yahoo.com/quote/00900.TW/dividend';\n\n// 轉成純文字，移除 script/style/標籤\nconst text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;|&amp;|&lt;|&gt;|&quot;|&#\\d+;|\\s+/g, ' ')\n  .trim();\n\n// 先找第一筆「月份制」的期間 (避免抓到年度彙總 2025)\nconst periodMatch = text.match(/(20\\d{2}M\\d{1,2})/);\nconst period = periodMatch ? periodMatch[1] : '';\n\nfunction normDate(s) {\n  if (!s) return '';\n  const m = s.match(/(20\\d{2})[\\/\\-]?(\\d{1,2})[\\/\\-]?(\\d{1,2})/);\n  if (!m) return s;\n  const [, y, mo, d] = m;\n  return `${y}/${mo.padStart(2,'0')}/${d.padStart(2,'0')}`;\n}\n\nlet cash = '', cashYield = '', exDate = '', payDate = '';\n\nif (period) {\n  // 方法 A：整列擷取（月份之後依序：現金股利、-、殖利率、昨收價、除息日、-、發放日）\n  const rowRegex = new RegExp(\n    `${period}\\\\s+` +                    // 2025M9\n    `([0-9]+(?:\\\\.[0-9]+)?)\\\\s+` +       // 現金股利 0.10\n    `-\\\\s+` +                            // -\n    `([0-9]+(?:\\\\.[0-9]+)?%)\\\\s+` +      // 殖利率 0.74%\n    `[0-9]+(?:\\\\.[0-9]+)?\\\\s+` +         // 除息日昨收價 13.48（略過）\n    `(20\\\\d{2}\\\\/\\\\d{2}\\\\/\\\\d{2})\\\\s+` + // 除息日\n    `-\\\\s+` +\n    `(20\\\\d{2}\\\\/\\\\d{2}\\\\/\\\\d{2})`       // 發放日\n  );\n  const m = text.match(rowRegex);\n  if (m) {\n    cash = m[1];\n    cashYield = m[2];\n    exDate = normDate(m[3]);\n    payDate = normDate(m[4]);\n  } else {\n    // 方法 B：窗口法（以 period 為起點，截一小段向後文字再抓）\n    const idx = text.indexOf(period);\n    const window = text.slice(idx, idx + 300); // 300~500 皆可\n    const cashM   = window.match(/(\\d+(?:\\.\\d+)?)/);              // 第一個數字 → 現金股利\n    const yieldM  = window.match(/(\\d+(?:\\.\\d+)?%)/);             // 第一個百分比 → 殖利率\n    const dates   = window.match(/20\\d{2}\\/\\d{2}\\/\\d{2}/g) || []; // 所有 yyyy/mm/dd\n    cash      = cashM ? cashM[1] : '';\n    cashYield = yieldM ? yieldM[1] : '';\n    exDate    = dates[0] ? normDate(dates[0]) : '';\n    payDate   = dates[1] ? normDate(dates[1]) : '';\n  }\n}\n\nconst extracted = { period, cash, cashYield, exDate, payDate };\n\nreturn [{ json: { symbol, url, extracted } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        -176
      ],
      "id": "46894e3b-0b7b-4178-832d-4188de8f9da5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "L8yWGExmkYKkrb28",
          "mode": "list",
          "cachedResultName": "dividend_watch",
          "cachedResultUrl": "/projects/iWxT7ZNDqseXx2TE/datatables/L8yWGExmkYKkrb28"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "symbol",
              "keyValue": "={{$json.symbol}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "symbol": "={{$json.symbol}}",
            "period": "={{$json.extracted.period}}",
            "cash": "={{$json.extracted.cash}}",
            "cashYield": "={{$json.extracted.cashYield}}",
            "exDate": "={{$json.extracted.exDate}}",
            "payDate": "={{$json.extracted.payDate}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "symbol",
              "displayName": "symbol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "period",
              "displayName": "period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cash",
              "displayName": "cash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cashYield",
              "displayName": "cashYield",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "exDate",
              "displayName": "exDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payDate",
              "displayName": "payDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1520,
        -176
      ],
      "id": "67fa3145-d291-4009-8630-22babb5e564d",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5080f343-59e7-4772-ae07-955ecad922c9",
              "leftValue": "={{ $json.symbol }}",
              "rightValue": "={{ $json.symbol }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1312,
        -176
      ],
      "id": "390cf90c-df31-435d-90fa-830c3d995ef8",
      "name": "If row exists"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "L8yWGExmkYKkrb28",
          "mode": "list",
          "cachedResultName": "dividend_watch",
          "cachedResultUrl": "/projects/iWxT7ZNDqseXx2TE/datatables/L8yWGExmkYKkrb28"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "symbol",
              "keyValue": "={{$json.symbol}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "symbol": "={{$json.symbol}}",
            "period": "={{ $json.period }}",
            "cash": "={{ $json.cash }}",
            "cashYield": "={{ $json.cashYield }}",
            "exDate": "={{ $json.exDate }}",
            "payDate": "={{ $json.payDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "symbol",
              "displayName": "symbol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "period",
              "displayName": "period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cash",
              "displayName": "cash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cashYield",
              "displayName": "cashYield",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "exDate",
              "displayName": "exDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payDate",
              "displayName": "payDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1104,
        -80
      ],
      "id": "083f711f-21f2-4159-9cda-62b49bcff540",
      "name": "False 分支（第一次沒有資料）→ Upsert row(s)（不寄信）"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "L8yWGExmkYKkrb28",
          "mode": "list",
          "cachedResultName": "dividend_watch",
          "cachedResultUrl": "/projects/iWxT7ZNDqseXx2TE/datatables/L8yWGExmkYKkrb28"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "symbol",
              "keyValue": "={{ $json.symbol }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1104,
        -272
      ],
      "id": "860d5160-b0e8-4632-a982-d6fe64158fcb",
      "name": "True 分支（已經有上一筆）→ 取舊資料再比對"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "symbol",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -832,
        -272
      ],
      "id": "a5dad606-5fe4-4e61-81b2-74ad0de19180",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c56506d-b945-4b31-b452-46d7d5a4eab1",
              "leftValue": "{{ JSON.stringify($json.extracted) }}",
              "rightValue": "=={{ JSON.stringify({  period: $json.period || '',  cash: $json.cash || '',  cashYield: $json.cashYield || '',  exDate: $json.exDate || '',  payDate: $json.payDate || ''}) }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -624,
        -272
      ],
      "id": "16812ab4-b55d-423e-8c2c-36b847157e98",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "00900",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "00900": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row exists": {
      "main": [
        [
          {
            "node": "True 分支（已經有上一筆）→ 取舊資料再比對",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False 分支（第一次沒有資料）→ Upsert row(s)（不寄信）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True 分支（已經有上一筆）→ 取舊資料再比對": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c7250110-3833-43d3-93ca-273eca31f3df",
  "meta": {
    "instanceId": "dbf823aa6de058f8fa2eaa8d2000f0e21425326b9be7801808ee5002ddb72b94"
  },
  "id": "eMVoVOEP0it8vCg7",
  "tags": []
}