2025-08/商品降價通知.json
{
  "name": "商品降價通知",
  "nodes": [
    {
      "parameters": {},
      "id": "c258c1ec-0242-4168-a5e0-b7e377a362fa",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -208,
        160
      ]
    },
    {
      "parameters": {
        "functionCode": "const html = $json.data || \"\";\nconst priceMatch = html.match(/<span[^>]*class=[\"']seoPrice[\"'][^>]*>([\\d,]+)<\\/span>/i);\n\nreturn [{\n  product: \"Redmi Note 14 Pro 5G (Momo)\",\n  url: \"https://www.momoshop.com.tw/goods/GoodsDetail.jsp?i_code=13598012\",\n  price: priceMatch ? parseInt(priceMatch[1].replace(/,/g, '')) : 99999\n}];"
      },
      "id": "68d3896b-616f-495f-b3a7-9c2e2fed8895",
      "name": "Extract Pro Price",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"price\"]}}",
              "value2": 7999
            }
          ]
        }
      },
      "id": "c34d39ef-4c86-4eee-83f6-fb6c52496652",
      "name": "Check Pro Price",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const html = $json.data || \"\";\nconst priceMatch = html.match(/<div class=\"c-prodInfoV2__priceValue\">\\s*\\$?([\\d,]+)\\s*<\\/div>/i);\nconst price = priceMatch ? parseInt(priceMatch[1].replace(/,/g, '')) : 99999;\n\nreturn [{\n  product: \"Redmi Note 14 Pro 5G (PChome 列表頁)\",\n  url: \"https://24h.pchome.com.tw/prod/DYAWD9-A900I8FJE\",\n  price\n}];\n"
      },
      "id": "de7609ed-36da-4a97-8986-1a110a90f06d",
      "name": "Extract Pro+ Price",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        208,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"price\"]}}",
              "value2": 7999
            }
          ]
        }
      },
      "id": "50cd2abf-b360-472c-9377-4f0e97c64c2b",
      "name": "Check Pro+ Price",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        304
      ]
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "haha@ptc-nec.com.tw",
        "fromName": "haha",
        "toEmail": "haha1811@gmail.com",
        "subject": "SendGrid",
        "contentType": "text/html",
        "contentValue": "=有手機價格低於門檻囉！<br><br> 商品：{{ $json[\"product\"] }}<br> 價格：${{ $json[\"price\"] }}<br> 連結：<a href=\"{{ $json[\"url\"] }}\">{{ $json[\"url\"] }}</a>",
        "additionalFields": {}
      },
      "id": "554d467b-969c-4761-8b94-1bf3930afd79",
      "name": "Send Email (Pro)",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        608,
        -16
      ],
      "credentials": {
        "sendGridApi": {
          "id": "vfsSncIEKB6rXrY7",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "haha@ptc-nec.com.tw",
        "fromName": "haha",
        "toEmail": "haha1811@gmail.com",
        "subject": "mail test",
        "contentType": "text/html",
        "contentValue": "=有手機價格低於門檻囉！<br><br> 商品：{{ $json[\"product\"] }}<br> 價格：${{ $json[\"price\"] }}<br> 連結：<a href=\"{{ $json[\"url\"] }}\">{{ $json[\"url\"] }}</a>",
        "additionalFields": {}
      },
      "id": "8fbf72d9-d992-47cb-9534-fbf2e9b0bf89",
      "name": "Send Email (Pro+)",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        608,
        288
      ],
      "credentials": {
        "sendGridApi": {
          "id": "vfsSncIEKB6rXrY7",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://24h.pchome.com.tw/prod/DYAWD9-A900I8FJE",
        "responseFormat": "string",
        "options": {}
      },
      "id": "ba505b3a-ff0e-4e56-812c-9ec6095734f5",
      "name": "PChome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://www.momoshop.com.tw/goods/GoodsDetail.jsp?i_code=13598012",
        "responseFormat": "string",
        "options": {}
      },
      "id": "798b3e7f-8543-4168-8b3c-6e369a485122",
      "name": "Momo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Momo",
            "type": "main",
            "index": 0
          },
          {
            "node": "PChome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Pro Price": {
      "main": [
        [
          {
            "node": "Check Pro Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pro Price": {
      "main": [
        [
          {
            "node": "Send Email (Pro)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extract Pro+ Price": {
      "main": [
        [
          {
            "node": "Check Pro+ Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pro+ Price": {
      "main": [
        [
          {
            "node": "Send Email (Pro+)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PChome": {
      "main": [
        [
          {
            "node": "Extract Pro+ Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Momo": {
      "main": [
        [
          {
            "node": "Extract Pro Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa443920-3818-4e0c-a219-f17abfc888dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbf823aa6de058f8fa2eaa8d2000f0e21425326b9be7801808ee5002ddb72b94"
  },
  "id": "qEc0vrW6vtL1eVdO",
  "tags": []
}